
form {
  width: 300px !important;
  margin: 100px auto !important;
  padding: 0px 10px 10px 10px !important;
  .div1{
    .div2 .div3{
      margin-top: 10px;
      .field {
        .field-label { width: 80px;}
        .field-content { width: 120px;}
      }
    }
    .div4{
      margin-top: 20px;

    }
  }

}

.divimage{

   margin-left: 820px;
   margin-top: 40px;

}