
@import 'utils.less';

#tabs {
  margin-top: 1em;
  .ui-tabs-panel { padding: 1em 0; }
}

table {
  width: 100%;
  margin-top: 1em;
  th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.short-column { max-width: 80px; }
  }
}

form {
  width: 800px;
  margin: 10px 0px;
  padding: 10px 0px;
  &:not(:first-child) { border-top: 1px dashed @body_border; }
  .field {
    .field-label {
      width: 100px;
      text-align: right;
    }
    .field-content { width: 50%; }
    //&.versione-field .field-content { width: 50%; }
    &#versione-fields { display: none; }
  }
}

.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}